  {id: 1, planta:1, numero: 1, ocupacion: 1, limpieza: 1, mantenimiento: 0, observaciones: 'Bombilla fundida'},
  {id: 2, planta:1, numero: 1, ocupacion: 0, limpieza: 1, mantenimiento: 1, observaciones: ''},
  {id: 3, planta:1, numero: 1, ocupacion: 1, limpieza: 1, mantenimiento: 1, observaciones: ''},
  {id: 4, planta:1, numero: 2, ocupacion: 0, limpieza: 1, mantenimiento: 0, observaciones: 'Grifo roto'},
  {id: 5, planta:1, numero: 2, ocupacion: 0, limpieza: 0, mantenimiento: 1, observaciones: ''},
  {id: 6, planta:1, numero: 2, ocupacion: 1, limpieza: 0, mantenimiento: 1, observaciones: ''},
  {id: 7, planta:1, numero: 3, ocupacion: 0, limpieza: 0, mantenimiento: 0, observaciones: 'Espejo roto'},
  {id: 8, planta:1, numero: 3, ocupacion: 0, limpieza: 1, mantenimiento: 1, observaciones: ''},
  {id: 9, planta:1, numero: 3, ocupacion: 0, limpieza: 1, mantenimiento: 1, observaciones: ''},